astral==2.2
cppy>=1.1.0
geopy>=2.4.1
kiwisolver==1.4.5
geopy>=2.4.1
matplotlib==3.8.4
netCDF4==1.7.4
networkx==3.2.1
numpy==1.26.4
openpyxl==3.1.5
pandas==2.3.3
pysharepoint==0.1.7
python_dotenv==1.2.2
requests==2.33.0
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
ruamel.yaml<=0.16
tqdm==4.66.3
xarray==2024.6.0
Pillow==12.3.0
urllib3==2.7.0